@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@theme {
    --color-primary-theme: #F0F2F7;
    --color-secondary-theme: #1E3A8A40;
    --color-btn-color: #456fa7c5;
    --color-delete-color: #f71818;
    --color-update-color: #1d6b16ce;
    --color-modal-color: #ceceec48;
}

@layer components {
    .inputBase {
        @apply px-0 py-1 w-full text-gray-700 border-1 border-gray-300/40 rounded-lg cursor-pointer hover:bg-gray-200/40 focus:border-[#e6e3e3d8] focus:outline-none focus:bg-gray-200/40  
    }

    .btn {
        @apply rounded px-2 py-1 cursor-pointer
    }

    .hoverBase {
        @apply hover:scale-95 transition-all duration-200
    }

    .heading4 {
        @apply text-sm  font-semibold ;
    }
    
    .transitionEffect {
        @apply transition-all duration-100 ease-in
    }

    .onClickEffect {
        @apply ring-1 ring-offset-blue-400 rounded-md  scale-99 border-[rgba(0,0,6,0.6)] shadow-[0_0_0_2px_rgba(59,130,246,0.6),0_0_24px_8px_rgba(0,0,6,0.6)]
    }

    .onHoverEffect {
        @apply transition-all duration-300 
    }

    .onHoverEffect:hover {
        @apply rounded-full shadow-[0_0_0_3px_rgba(59,130,246,0.6)] hover:bg-[#ffffff]
    }

    .scrollbar-hide {
        -ms-overflow-syle: none;    /* IE & Old Edge */
        scrollbar-width: none;      /* Firefox */
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;      /* Chrome, Safari, Edge */

    }
}