@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-page: #eff6fc;
  --color-card: #c1d3d3;
  --color-todoCard: #d4dfdf;
  --color-header: #E2E8F0;
   /* c4cad3  c1d3d3 d4dfdf */
  --color-text: #0F172A;
  --color-muted: #475569;
  --color-gray: #94A3B8;
  
  --color-button: #2563EB;
  /* --color-btnShadow: rgba(37, 99, 235, 0.25); */
  --color-btnShadow: #676ecf;
  
  --color-danger: #DC2626;
  --color-success-bg: #10B981;
  --color-accent: #3B82F6;


   --color-feature: rgba(91, 110, 31, 0.212);
}

.dark {
  --color-page: #0F172A;
  --color-card: #1E293B;
  --color-todoCard: #334155;
  --color-header: #334155;
  
  --color-text: #F8FAFC;
  --color-muted: #94A3B8;
  --color-gray: #64748B;
  
  --color-button: #3B82F6;
  /* --color-btnShadow: rgba(59, 130, 246, 0.3); */
  --color-btnShadow: #989595;
  
  --color-danger: #EF4444;
  --color-success-bg: #10B981;
  --color-accent: #60A5FA;


  --color-feature: rgba(63, 75, 82, 0.524);

}

@theme {
  --color-page: var(--color-page);
  --color-card: var(--color-card);
  --color-todoCard: var(--color-todoCard);
  --color-header: var(--color-header);
  
  --color-text: var(--color-text);
  --color-muted: var(--color-muted);
  --color-gray: var(--color-gray);
  
  --color-button: var(--color-button);
  --color-btnShadow: var(--color-btnShadow);
  
  --color-danger: var(--color-danger);
  --color-success: var(--color-success-bg);
  --color-accent: var(--color-accent);


  --color-feature: var(--color-feature);
}

@layer components {
  .inputBase {
    @apply text-text bg-page mx-1 px-3 py-2 border border-header rounded-xl focus:outline-none focus:ring-2 focus:ring-button/40 transition-all duration-200;
  }

  .btn {
    @apply rounded-xl px-4 py-2 cursor-pointer transition-all duration-200;
  }

  .hoverBase {
    @apply hover:scale-[0.98] active:scale-95 transition-all duration-200;
  }

  .blurEffect {
    @apply bg-slate-900/40 backdrop-blur-sm;
  }

}